.backPart {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.2);
    z-index: 1000;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45vh;
    position: absolute;
    bottom: 0;
    background-color: #242534;
}

.closeButton {
    width: 100%;
    margin-left: 10vw;
    margin-top: 2vh;
}

.modalUpside {
    display: flex;
    align-items: center;
    height: 20vh;
    width: 60vw;
}

.currentTemp {
    display: flex;
    justify-content: end;
    width: 60vw;
    font-size: 7vh;
}

.min_maxTemp {
    display: flex;
    flex-direction: column;
    width: 40vw;
    font-size: 2.5vh;
}

.modalBottom {
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 100vw;
    gap: 1vw;
}

.wheater {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;

}